[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/light-account"]
	path = lib/light-account
	url = https://github.com/alchemyplatform/light-account
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/webauthn-sol"]
	path = lib/webauthn-sol
	url = https://github.com/base-org/webauthn-sol
